@mixin flex {
    display:flex;
    
}

@mixin space-between {
    @include flex;
     justify-content: space-between;
}


.v-padding {
    &-medium {
        padding: $size_medium 0;
    }

    &-large {
        padding:$size_large 0
    }
    
}



