.sidebar {
    &__wrapper {
        position: sticky;
        top:0;
        height: 100%;
        background: #fff;
        width: 200px;
    }

    &__container {
        transition: width .1s linear;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0.5rem;
        height: 100vh;
    }

    &__toggle {
        width: 2rem;
        height:2rem;
        background: red;
        position: absolute;
        right:-1rem;
        top: 50%;
        cursor: pointer;
    }
}